body {
  padding: 0;
  margin: 0;
  font-family: "Microsoft JhengHei";
  font-size: 14px;
  scroll-behavior: smooth;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  height: 400px;
}

.Leftblock {
  width: 25%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.dateCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 12.5%;
  width: 100%;
  border: .5px solid #E1E2E4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #F1F1F1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #666;
  font-weight: bold;
}

.dateCol:nth-child(1) {
  background-color: #EAEDF2;
  color: #666;
  font-weight: normal;
}

.dateCol span {
  min-width: 80%;
}

.dateCol span:nth-child(1) {
  text-align: right;
}

.dateRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #EAEDF2;
  border: .5px solid #E1E2E4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  word-break: break-all;
  height: 100%;
  width: 14.5%;
  color: #666;
  font-weight: bold;
}

.nextYear::before {
  content: "2018";
  display: block;
  font-size: 12px;
  color: #24a07c;
  text-align: right;
  line-height: 1;
}

.Rightblock {
  width: 75%;
  height: 100%;
  overflow: hidden;
}

.Rightblock .slider-div {
  position: relative;
  height: 100%;
  min-width: 100%;
}

.Rightblock .slider-div::-webkit-scrollbar {
  display: none;
}

.Rightblock .weekprice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 12.5%;
}

.Rightblock .weekprice .date {
  height: 100%;
}

.Rightblock .weekprice .dailyprice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0.5px solid #ececec;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  word-break: break-all;
  height: 100%;
  width: 14.5%;
}

.Rightblock .weekprice .dailyprice:hover {
  border: .5px solid #fe8b88;
  cursor: pointer;
}

.Rightblock .weekprice .dailyprice:active, .Rightblock .weekprice .dailyprice.active {
  border: .5px solid #fe8b88;
  background-color: #FFF9E3;
}

.left-btn {
  padding: 4px 5px;
  text-align: center;
  font-size: 24px;
  position: absolute;
  z-index: 2;
  background-color: rgba(171, 171, 171, 0.5);
  opacity: .8;
  color: #fff;
  cursor: pointer;
  top: 26%;
  left: 25%;
  display: block;
}

.hide {
  display: none !important;
}

.right-btn {
  padding: 4px 5px;
  text-align: center;
  font-size: 24px;
  position: absolute;
  z-index: 2;
  background-color: rgba(171, 171, 171, 0.5);
  color: #fff;
  display: block;
  cursor: pointer;
  top: 26%;
  right: 0;
}

.gray-background {
  background: #ececec;
}

.gray-background .dailyprice {
  background-color: #ececec;
}

.triangle {
  position: relative;
}

.triangle::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: #FF8E26 transparent transparent transparent;
}

.triangle::after {
  content: "\6700\4FBF\5B9C";
  position: absolute;
  width: 36px;
  top: 0;
  left: 20px;
  color: #FF8E26;
  font-size: 12px;
  font-family: "Microsoft JhengHei";
}

.col-1 {
  min-width: 100%;
}

.col-2 {
  min-width: 50%;
}

.col-3 {
  min-width: 33.3333%;
}

@media (min-width: 768px) {
  .container {
    width: 800px;
  }
  .Leftblock {
    width: 12%;
  }
  .Rightblock {
    width: 88%;
  }
  .Rightblock .slider-div {
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
  }
  .right-btn {
    display: none;
  }
  .left-btn {
    display: none;
  }
  .col-1,
  .col-2,
  .col-3 {
    min-width: 0;
  }
}
/*# sourceMappingURL=Calender.css.map */